<div>
  <h1><%= "There are #{@contacts.count} contacts" %></h1>
  <ul>
    <% @contacts.each do |contact| %>
    <li><a href="contacts/<%=contact.id%>"><%= contact.full_name%></a>
        <p class="point"><a href="contacts/<%=contact.id%>/edit"> Edit | </a></p>
      

    </li>
    <% end %>
  </ul>
</div>
