<header>Show Contact</header>

<form action="/contacts/<%=@contact.id%>" method="post">
  <input type="hidden" name="_method" value="delete">
<button type="submit" value="delete">Delete Contact</button>



</form>

<a href="/contacts/<%=@contact.id%>/edit">
  <button type="edit"  value="edit">Edit Contact</button></a>

<h5><%= @contact.first_name %></h5>
