* {
  box-sizing: border-box;
  max-width: 1000px;
}

body {
  margin: 0px;
  font-family: Arial, sans-serif;
}


nav a{
  color: white;
  background-color: #b3b3b3;
  font-size: 40px;
  text-align: center;
  text-decoration: none;
  display: block;
  border: solid white 1px;
  padding: 0px;
  margin:0px;
}

header {
  color: white;
  background-color: black;
padding: 0px;
  text-align: center;
  margin-bottom: 60px;
  font-size: 32px;
  display: block;
  border: solid black 1px

}


/*.header {
  color: pink;
  font-size: 35px;
  margin: 0;
  display: block;
  text-align: center;
}*/



main{
border: solid blue 1px
}
  footer {
    margin-top: 20px;
    color: white;
    background-color: black ;
    padding: 5px;
    text-align: center;
    font-size: 10px;



  }

  h1{
  padding: 15px;
    text-align: center;
    margin-bottom: 60px
    font-weight: bolder
background-color: black
        }
  h6 {
    color:blue;
  padding: 5px;
background-color: red;
font-size: 10px
margin-top: 5px;
margin-left: 10px;
border: solid 1px;




}

h5{
  color: orange;
background-color: #42f4f4;
padding: 40px;
margin-right: 5px;
margin-bottom: 5px;
border: solid #42f4f4 1px;

}
