* {
  box-sizing: border-box;
  max-width: 1000px;
}

body {
  margin: 0px;
  font-family: Arial, sans-serif;
}


nav a{
  color: white;
  background-color: #b3b3b3;
  font-size: 40px;
  text-align: center;
  text-decoration: none;
  display: block;
  border: solid white 1px;
  padding: 0px;
  margin:0px;
}

header {
  color: white;
  background-color: black;
  padding: 0px;
  text-align: center;
  margin-bottom: 60px;
  font-size: 32px;
  display: block;
  border: solid black 1px
}


/*.header {
  color: pink;
  font-size: 35px;
  margin: 0;
  display: block;
  text-align: center;
}*/


main{
border: solid white 1px
}

footer {
    margin-top: 20px;
    color: white;
    background-color: black ;
    padding: 5px;
    text-align: center;
    font-size: 10px;
}

h2 {
color: grey;
padding: 5px;
margin-bottom: 10px;
background-color: #FC896B;
border: solid 1px #FC896B;
margin-left: 10px;
margin-right: 10px;
        }

li {
padding: 5px;
background-color: #00E5EE;
font-size: 18px;
margin-bottom: 5px;
margin-left: 10px;
margin-right: 10px;
border: solid 1px;
padding-bottom: 5px;
font-weight: bolder;
}

h5 {
  color: white;
background-color: #42f4f4;
padding: 40px;
margin-right: 5px;
margin-bottom: 5px;
border: solid #42f4f4 1px;
}

ul {
  list-style-type: none;
  margin: 0;
    padding: 0;
}
